<!-- <div>
    <h2>Login</h2>

    <div class="alert alert-warning" *ngIf='isInvalid'>{{errorMessage}}</div>

    <form class="ml-2">
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" name="username" placeholder="Enter Username" [(ngModel)]="username" />
            <label class="form-label" style="margin-left: 0px;">Username</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="password" class="form-control" name="password" placeholder="Enter Password" [(ngModel)]="password" />
            <label class="form-label" style="margin-left: 0px;">Password</label>
        </div>
        <button class="btn btn-primary" type="button" (click)=handleJWTAuthLogin() >Login</button>
    </form>
</div> -->
<section class="login-clean main">
    <form>
        <h2 class="visually-hidden">Login Form</h2>
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Enter Username" [(ngModel)]="username" />
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Enter Password" [(ngModel)]="password" />
        </div>
        <div class="mb-3">
            <button class="btn btn-primary d-block w-100" type="button" (click)=handleJWTAuthLogin()>Log In</button>
        </div>
        <a class="forgot" routerLink="/create" >Don't have an account?</a>
    </form>
</section>



