<header>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">Todo App</a><button data-bs-toggle="collapse" data-bs-target="#navcol-1" class="navbar-toggler"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li *ngIf = '!h.isUserLoggedIn()' class="nav-item"><a class="nav-link active" routerLink="/login">Login</a></li>
                    <li *ngIf = '!h.isUserLoggedIn()' class="nav-item"><a class="nav-link" routerLink='/create'>Create Account</a></li>
                    <li *ngIf = 'h.isUserLoggedIn()' class="nav-item"><a class="nav-link" routerLink="/welcome/">Welcome</a></li>
                    <li *ngIf = 'h.isUserLoggedIn()' class="nav-item"><a class="nav-link" routerLink="/todos">Todos</a></li>
                    <li *ngIf = 'h.isUserLoggedIn()' class="nav-item"><a class="nav-link" routerLink="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- <nav class='navbar navbar-expand-md navbar-dark bg-dark'>
        <div><a class='navbar-brand'>TodoApp</a></div>
        <ul class='navbar-nav'>
            <li *ngIf = 'h.isUserLoggedIn()'><a routerLink="/welcome/" class='nav-link'>Home</a></li>
            <li *ngIf = 'h.isUserLoggedIn()'><a routerLink="/todos" class='nav-link'>Todos</a></li>
        </ul>
        <ul class='navbar-nav navbar-collapse justify-content-end'>
            <li *ngIf = '!h.isUserLoggedIn()'><a routerLink="/login" class='nav-link'>Login</a></li>
            <li *ngIf = '!h.isUserLoggedIn()'><a routerLink='/create' class='nav-link'>Create Account</a></li>
            <li *ngIf = 'h.isUserLoggedIn()'><a routerLink="/logout" class='nav-link'>Logout</a></li>
        </ul>
    </nav> -->
</header>