<header>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark align-content-end align-self-end">
        <div class="container">
            <a class="navbar-brand" href="#">Todo App</a>
            <button class="navbar-toggler" type="button" (click)="toggleNavbar = !toggleNavbar">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [ngbCollapse]="!toggleNavbar">
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    <li *ngIf = '!h.isUserLoggedIn()' class="nav-item">
                        <a class="nav-link" routerLink="/login">Sign in</a>
                    </li>
                    <li *ngIf = 'h.isUserLoggedIn()' class="nav-item">
                        <a class="nav-link" routerLink="/welcome/">Welcome</a>
                    </li>
                    <li *ngIf = 'h.isUserLoggedIn()' class="nav-item">
                        <a class="nav-link" routerLink="/todos">Todos</a>
                    </li>
                    <li *ngIf = 'h.isUserLoggedIn()' class="nav-item">
                        <a class="nav-link" routerLink="/logout">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>