<h1>My todos</h1>

<div class='container'>
    <div class="alert alert-success" *ngIf='message'>
        <strong>{{message}}</strong>
    </div>

    <div class="card" style="margin-top: 10;margin-right: 10;" *ngFor="let todo of todos">
        <div class="card-body">
            <p class="card-text">{{todo.description }}</p>
            <i class="far fa-edit" (click)='updateTodo(todo.id)' ></i>
            <i class="fas fa-trash" (click)='deleteTodo(todo.id)'></i>
        </div>
    </div>
    <button class="btn btn-success" (click)='addTodo()'style="margin-top: 25px">Add <i class="fas fa-plus"></i></button>
</div>